<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Välkommen</title>

</head>
<body>
<h1>Välommen till DurTre</h1>
<br>
<!-- Utan metod kontroll krashar detta för att man inte är inloggad, ignorera för stunden -->
<!--<table>-->
<!--    <tbody>-->
<!--    <tr th:each="report : ${reports}">-->
<!--        <td><span th:text="${report.getEvent()()}"></span></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<span>Avslutade, offentliga ärenden</span>
<p>Trafikolycka: Bilist och A-traktor i kollision på Rv 61</p>
<p>Trafikolycka, smitning från: Cyklist påkörd av smitande bilist</p>
<a href="/private"> Logga in</a>
</body>
</html>
