<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DurTre - Profil</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="durtre-body">

<div class="durtre-shell">

    <header class="topbar">
        <div class="brand">
            <img th:src="@{/images/police-logo-color.png}"
                 alt="Polislogga"
                 class="brand-logo">

            <div class="brand-text">
                <div class="brand-title-row">
                    <span class="brand-title">DurTre</span>
                    <span class="brand-subtitle">Polismyndigheten</span>
                </div>
                <span class="brand-tagline">Profilsida</span>
            </div>
        </div>

        <div class="topbar-user">
            <span class="user-chip" th:text="${currentUser.getFullName()}"></span>
            <form th:action="@{/logout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" style="cursor: pointer;" class="user-chip">Logga ut</button>
            </form>
        </div>
    </header>
    <div class="meta-strip">
        <span>Inloggad som: <strong th:text="${currentUser.getUsername()}"></strong></span>
        <span>Roll: <strong th:text="${currentUser.getProfession()}"></strong></span>
        <span>Avdelning: <strong th:text="${currentUser.getDepartment()}"></strong></span>
        <span>Aktiv databas: <strong>TESTMILJÖ</strong></span>
        <span>Senast uppdaterad: <strong>2026-03-14 10:03</strong></span>

        <button th:onclick="location.href='/private'" class="btn btn-primary meta-strip-button">
            Registrera ärende
        </button>
    </div>

    <h3>Tilldelade fall</h3>
    <table>
        <thead>
        <th><span>K-Nummber</span></th>
        <th><span>Antal kopplade rapporter</span></th>
        </thead>
        <tbody>
        <tr th:if="${cases.isEmpty()}">
            <td colspan="2">Inga befogade fall</td>
        </tr>
        <tr th:each="entry : ${cases}">
            <td><span th:text="${entry.key}"></span></td>
            <td>
                <span th:text="${entry.value.size()}"></span>
            </td>
            <td>
                <a th:href="@{/caseoverview(casenumber=${entry.key})}">Översikt</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary meta-strip-button" th:onclick="location.href='/cases'">Sök tilldelade fall
        </button>

    </div>
</div>
</body>
</html>
